@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* NAVBAR CONFIGURATION */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    bottom: 0;
  }

  .nav-menu-visible {
    left: 0% !important;
  }

  @media screen and (min-width: 768px) {
    .nav-menu {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 40%;
      background-color: transparent;
    }
  }
}
